@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul li {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
}

.mytopnav {
  background: #195b9d;
  padding: 0 14px;
}
.mytopnav a:hover {
  background-color: #2581dc;
}
.logo {
  text-align: center;
  order: 0;
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  text-align: left;
  display: none;
  order: 1;
  position: relative;
  display: block;
  width: auto;
  border-bottom: 1px solid #333;
}
.menu {
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
  margin-bottom: 0;
}
.submenu {
  display: block;
  position: absolute;
  left: 0;
  top: 48px;
  background: #2581dc;
  box-sizing: border-box;
  padding: 8px;
  margin: 0;
}
.toggle {
  display: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.has-submenu i {
  font-size: 12px;
}
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #fff;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  border-radius: 3px;
  background-color: #2581dcdc;
}

@media only screen and (max-width: 790px) {
  .mytopnav {
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu.active {
    margin-top: 20px;
  }
  .logo {
    display: flex;
    font-size: 15pt;
    justify-content: space-between;
    width: 100%;
  }
  .logo a {
    margin-left: 20px;
  }
  .toggle {
    display: block;
    font-size: 13pt;
    color: #fff;
  }
  .submenu {
    z-index: 1;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
    position: static;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    border-bottom: none;
  }
  .subitem {
    border-bottom: 1px solid #999;
  }
  /* fungsi togel */
  .active .item {
    display: block;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
}

.c-head {
  background: linear-gradient(to top, #43cea2, #185a9d);
  color: #fff;
  padding: 10px;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1c1c1c66;
  margin: 10px 0;
  color: #fff;
}
#app span {
  font-family: "Lilita One", cursive;
  font-size: 25pt;
  text-align: center;
  display: block;
}
form {
  width: 85%;
}
select,
input {
  width: 100%;
  padding: 4px;
  outline: none;
  margin: 11px 5px;
}
.c-center h4 {
  font-size: 16px;
  text-align: center;
}
.c-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 44px;
}
.media {
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.c-info {
  width: 47%;
}
.media-body {
  font-size: 10pt;
  display: table-cell;
  vertical-align: top;
}
.fa-2x {
  font-size: 2em;
}
h3 {
  text-align: center;
}
.c-bottom {
  padding: 12px 125px;
}
.c-bottom h4 {
  font-size: 18px;
}
.c-bottom .cbh {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cbh div {
  width: 47%;
}
.c-bottom p {
  font-size: 10pt;
}
.features_list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  h2 {
    text-align: center;
    font-size: calc(1.5rem + 0.9vw);
  }
  #app {
    width: 85%;
    margin: 0 auto;
  }
  .c-center {
    margin-top: 15px;
  }
  .c-media {
    flex-direction: column;
  }
  .c-info {
    width: 100%;
  }
  .fa-2x {
    font-size: 1.5em;
  }
}

@media (min-width: 991px) {
  .c-head {
    display: flex;
    justify-content: space-between;
    padding: 0 67px;
  }
  #app {
    order: 1;
    width: 34%;
  }
  .c-center {
    width: 63%;
  }
  .c-center h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 50px;
    text-align: center;
  }
}
