form {
  background: yellow;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
form input:valid {
  outline-color: green;
}
form input:invalid {
  outline-color: red;
}
fieldset:invalid ~ fieldset {
  display: none;
}
form fieldset:not(:first-child) {
  border-top: none;
}
/* Dim and disable the button while the form is invalid */
form:invalid button {
  opacity: 0.3;
  pointer-events: none;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: monospace;
  padding: 0.25em 0.5em;
}

button {
  width: 100%;
  border: thin solid darkgrey;
  font-size: 1.25em;
  background-color: darkgrey;
  color: white;
}
